
<body>
    <!-- <div class="search-box">
      <input type="text" placeholder="Search here..." />
    

    <div class="nav-container">
      <div class="wrapper">
        <nav>
          <div class="logo">
            Ayu.
          </div>

          <ul class="nav-items">
            <li>
              <a href="#">blog</a>
            </li>

            <li>
              <a href="#">contact</a>
            </li>

            <li>
              <a href="#">about</a>
            </li>

            <li>
              <a class="nav-btn-container" href="#">
                <img class="search-btn" src="assets/search-icon.svg" alt="" />
                <img class="close-btn" src="assets/search-icon.svg" alt="" />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div> -->
 
    <div class="header-container">
      <div class="wrapper">
        <header>
          <div class="hero-content">
            <h1>Hi, I’m Ayush</h1>
            <p>
              I design beautiful websites & mobile apps that modern trends
              demand
            </p>
            <a  routerLink="/contact">
              Contact Me
            </a>
          </div>

          <div class="hero-image">
            <img src="assets/photo.png" alt="" />
            <div class="photo-bg"></div>
          </div>
        </header>
     
        <div class="social-icons">
          <a href="#">
            <img src="assets/instagram-logo.png" alt="" />
          </a>
          <a href="#">
            <img src="assets/behance-logo.png" alt="" />
          </a>
          <a href="#">
            <img src="assets/dribbble-logo.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </body>
  